* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20% ;
  grid-template-areas:
  
  'header header header'
  ' nav    art    ads'
  'footer footer footer'
  ;
}

#header {
  background-color: #f3ca40;
  grid-area: header;

}

#nav {
  
  background-color: #4b4e6d;
  grid-area: nav;
}

#articles {
 
  background-color: #6a8d92;
  grid-area: art ;
}

#ads {
  
  background-color: #f2a541;
  grid-area: ads;
}

#footer {
  
  background-color: #f08a4b;
  grid-area: footer;
}

@media screen and (max-width: 70px){
  #app{
    font-size: 3em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 23% 10% 45% 23%;
    grid-template-areas:
        'header''header'
          'nav' 'nav'
          'art''ads'
        'footer''footer'
  }
}


@media screen and (max-width: 1100px){
  
#app{
  font-size: 3em;
  grid-template-columns: 100%;
  grid-template-rows: 20% 15% 30% 15% 20%;
  grid-template-areas:
          'header'
            'nav'
            'art'
            'ads'
            'footer'


}







}